.title {
    margin: auto;
    padding: 0.05%;
    text-align: center;
    background-color: lightblue;
}

.inputField {
    margin: auto;
    padding: 3%;
    text-align: center;
    background-color: lightpink;
}

.taskList {
    margin: auto;
    padding: 3%;
    text-align: center;
    background-color: lightgreen;
}

.taskListElementName {
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
    display: inline-block;
}

.taskListElementNameCompleted {
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: line-through;
    display: inline-block;
}

.chooseListButtons {
    margin: auto;
    padding: 3%;
    text-align: center;
    background-color: lightcoral;
}

.clearButton {
    margin: auto;
    padding: 3%;
    text-align: center;
    background-color: lightseagreen;
}